@mixin AccountPage() {
    #account-page {
        & > div {
            &.hide {
                display: none;
            }
        }

        #account-page-tabs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-bottom: thin solid $main_screen_division_line_color;

            button {
                background-color: transparent;
                border: none;
                text-align: center;
                color: $theme_color;
                cursor: pointer;

                &:first-child {
                    border-right: thin solid $main_screen_division_line_color;
                }
            }
        }

        #account-page-profile {
            #account-page-profile-cover {
                background-color: #f5f5f5;
            }

            #account-page-profile-info-container {
                display: flex;
                flex-direction: row;
                border-bottom: thin solid $main_screen_division_line_color;

                #account-page-profile-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    div {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            #account-page-profile-lists {
                #account-page-following-list, #account-page-followers-list {
                    // padding: 0 20px;

                    &.hide {
                        display: none;
                    }

                    // h1 {
                    //     font-size: 20px;
                    //     margin-bottom: 30px;
                    // }

                    .users-list {
                        display: flex;
                        flex-direction: column;

                        .user {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            // margin-bottom: 30px;

                            // img {
                            //     width: 70px;
                            //     height: 70px;
                            //     border-radius: 50%;
                            // }

                            span {
                                // font-size: 16px;
                                // margin-left: 15px;
                                cursor: pointer;
                            }

                            button {
                                margin-left: auto;
                                border: none;
                                color: #fff;
                                background-color: #000;
                                // font-size: 14px;
                                // padding: 10px 20px;
                                cursor: pointer;

                                &:hover {
                                    color: $theme_color;
                                }
                            }
                        }
                    }

                    .account-page-lists-show-more {
                        background-color: transparent;
                        border: none;
                        color: $theme_color;
                        // font-size: 16px;
                        // margin-top: 20px;
                        cursor: pointer;

                        &.hide {
                            display: none;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                #account-page-posts-list {
                    &.hide {
                        display: none;
                    }

                    .post {
                        &:not(:last-child) {
                            border-bottom: thin solid $main_screen_division_line_color;
                        }

                        // padding: 20px 30px 30px;

                        .user-info {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            img {
                                // border-radius: 50%;
                                // width: 40px;
                                // height: 40px;
                                // margin-right: 15px;
                                cursor: pointer;
                            }

                            // span {
                            //     font-size: 16px;
                            // }
                        }

                        .post-content {
                            display: flex;
                            flex-direction: column;
                            // margin-bottom: 30px;

                            // p {
                            //     font-size: 20px;
                            //     margin-bottom: 20px;
                            // }

                            // img, video {
                            //     width: 50%;
                            //     max-width: 300px;
                            // }

                            ul {
                                // margin-top: 30px;
                                // padding: 0;
                                list-style: none;
                                display: flex;
                                flex-direction: row;

                                li {
                                    // margin-right: 10px;
                                    // font-size: 16px;
                                    color: $theme_color;
                                    font-weight: bold;
                                    cursor: pointer;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }

                        .post-info {
                            display: flex;
                            flex-direction: row;
                            // align-items: center;

                            // img {
                            //     width: 20px;
                            //     height: 20px;
                            // }

                            // span {
                            //     font-size: 14px;
                            // }

                            .likes, .comments {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                // margin-left: 30px;

                                img {
                                    // margin-right: 10px;
                                    cursor: pointer;
                                }
                            }

                            .likes img {
                                // transform: translateY(-2px);

                                &.hide {
                                    display: none;
                                }
                            }

                            & > button {
                                color: $error_color;
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                                // margin-left: 30px;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        #account-page-settings {
            .settings-group {
                padding: 20px;

                h1 {
                    margin: 0;
                    font-size: 24px;
                }

                &:not(:last-child) {
                    border-bottom: thin solid $main_screen_division_line_color;
                }
            }

            #account-page-settings-general {
                h1 {
                    margin-bottom: 30px;
                }

                .file-upload-container {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 50px;

                    span {
                        margin-bottom: 10px;
                        font-size: 16px;
                    }

                    div {
                        display: flex;
                        flex-direction: row;

                        button {
                            font-size: 14px;
                            padding: 10px;
                            border-radius: 5px;
                            cursor: pointer;

                            &:first-child {
                                margin-right: 15px;
                                border: none;
                                color: #fff;
                                background-color: #000;
                            }

                            &:last-child {
                                color: $error_color;
                                border: thin solid $error_color;
                                background-color: transparent;
                            }
                        }
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;

                    input {
                        border: thin solid gray;
                        margin-bottom: 30px;
                        font-size: 14px;
                        padding: 10px;

                        &:focus {
                            outline: none;
                        }
                    }

                    span {
                        color: $error_color;
                        font-size: 15px;
                        margin-bottom: 30px;

                        &.success {
                            color: #4677e1;
                        }
                    }

                    button {
                        color: #fff;
                        background-color: $theme_color;
                        width: fit-content;
                        border: none;
                        cursor: pointer;
                        padding: 10px 20px;
                        margin-top: 20px;
                        font-size: 16px;

                        &:hover {
                            background-color: $theme_color_darkened;
                        }
                    }
                }
            }

            #account-page-settings-account-deletion {
                h1 {
                    margin-bottom: 10px;
                }

                p {
                    line-height: 150%;
                }

                button {
                    background-color: $error_color;
                    color: #fff;
                    border: none;
                    font-size: 16px;
                    margin-top: 20px;
                    padding: 10px 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: #a93e3e;
                    }
                }
            }
        }

        // RESPONSIVENESS
        @media screen and (min-width: 250px) {
            #account-page-tabs {
                button {
                    font-size: 16px;
                    padding: 10px 5px;
                    width: 100%;
                }
            }

            #account-page-profile {
                #account-page-profile-cover {
                    width: 100%;
                    height: 200px;
                }

                #account-page-profile-info-container {
                    padding: 25px;
                    align-items: center;
                    justify-content: center;

                    #account-page-profile-picture {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                    }

                    #account-page-profile-info {
                        width: fit-content;
                        margin-left: 20px;

                        span {
                            font-size: 15px;
                            margin-bottom: 10px;
                        }

                        div {
                            flex-direction: column;

                            .profile-counts {
                                display: flex;
                                flex-direction: row;

                                &:not(:last-child) {
                                    margin-right: 20px;
                                }

                                span {
                                    font-size: 15px;

                                    &:first-child {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

                #account-page-profile-lists {
                    #account-page-following-list, #account-page-followers-list {
                        padding: 0 15px 30px;

                        h1 {
                            font-size: 20px;
                            margin-bottom: 30px;
                        }

                        .users-list {
                            .user {
                                margin-bottom: 30px;

                                img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                }

                                span {
                                    font-size: 12px;
                                    margin-left: 10px;
                                    margin-right: 20px;
                                    max-width: 21ch;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                button {
                                    font-size: 11px;
                                    padding: 10px 20px;
                                }
                            }
                        }

                        .account-page-lists-show-more {
                            font-size: 12px;
                            margin-top: 15px;
                        }
                    }

                    #account-page-posts-list {
                        .post {
                            padding: 20px 30px 30px;

                            .user-info {
                                img {
                                    border-radius: 50%;
                                    width: 40px;
                                    height: 40px;
                                    margin-right: 15px;
                                }

                                span {
                                    font-size: 15px;
                                }
                            }

                            .post-content {
                                margin-bottom: 30px;

                                p {
                                    font-size: 18px;
                                    margin-bottom: 20px;
                                }

                                img, video {
                                    width: 100%;
                                    max-width: 200px;
                                }

                                ul {
                                    margin-top: 30px;
                                    padding: 0;

                                    li {
                                        margin-right: 10px;
                                        font-size: 15px;
                                    }
                                }
                            }

                            .post-info {
                                flex-direction: column;

                                & > *:not(:last-child) {
                                    margin-bottom: 20px;
                                }

                                img {
                                    width: 20px;
                                    height: 20px;
                                }

                                span {
                                    font-size: 14px;
                                }

                                .likes, .comments {
                                    img {
                                        margin-right: 10px;
                                    }
                                }

                                .likes img {
                                    transform: translateY(-2px);
                                }

                                & > button {
                                    margin-top: 20px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 350px) {
            #account-page-profile {
                #account-page-profile-info-container {
                    #account-page-profile-picture {
                        width: 100px;
                        height: 100px;
                    }

                    #account-page-profile-info {
                        margin-left: 40px;
                    }
                }

                #account-page-profile-lists {
                    #account-page-following-list, #account-page-followers-list {
                        padding: 10px 20px 30px;

                        h1 {
                            font-size: 20px;
                        }

                        .users-list {
                            .user {
                                img {
                                    width: 55px;
                                    height: 55px;
                                }

                                span {
                                    font-size: 14px;
                                    margin-left: 15px;
                                    margin-right: 0px;
                                }

                                button {
                                    font-size: 13px;
                                }
                            }
                        }

                        .account-page-lists-show-more {
                            font-size: 14px;
                        }
                    }

                    #account-page-posts-list {
                        .post {
                            .post-info {
                                flex-direction: row;

                                & > *:not(:last-child) {
                                    margin-bottom: 0px;
                                    margin-right: 20px;
                                }

                                & > button {
                                    margin-top: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 500px) {
            #account-page-profile {
                #account-page-profile-info-container {
                    justify-content: left;

                    #account-page-profile-picture {
                        width: 80px;
                        height: 80px;
                    }

                    #account-page-profile-info {
                        margin-left: 30px;

                        div {
                            flex-direction: row;
                        }
                    }
                }

                #account-page-profile-lists {
                    #account-page-following-list, #account-page-followers-list {
                        padding: 10px 30px 30px;
                    }

                    #account-page-posts-list {
                        .post {
                            .post-content {
                                img, video {
                                    max-width: 250px;
                                }
                            }

                            .post-info {
                                & > *:not(:last-child) {
                                    margin-right: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 2000px) {
            #account-page-tabs {
                button {
                    font-size: 0.8vw;
                    padding: 0.5vw 0.25vw;
                }
            }

            #account-page-profile {
                #account-page-profile-cover {
                    height: 10vw;
                }

                #account-page-profile-info-container {
                    padding: 1.25vw;

                    #account-page-profile-picture {
                        width: 4vw;
                        height: 4vw;
                    }

                    #account-page-profile-info {
                        margin-left: 1.5vw;

                        span {
                            font-size: 0.75vw;
                            margin-bottom: 0.5vw;
                        }

                        div {
                            .profile-counts {
                                &:not(:last-child) {
                                    margin-right: 1vw;
                                }

                                span {
                                    font-size: 0.75vw;

                                    &:first-child {
                                        margin-right: 0.25vw;
                                    }
                                }
                            }
                        }
                    }
                }

                #account-page-profile-lists {
                    #account-page-following-list, #account-page-followers-list {
                        padding: 0.5vw 1.5vw 1.5vw;

                        h1 {
                            font-size: 1vw;
                            margin-bottom: 1.5vw;
                        }

                        .users-list {
                            .user {
                                margin-bottom: 1.5vw;

                                img {
                                    width: 2.75vw;
                                    height: 2.75vw;
                                }

                                span {
                                    font-size: 0.7vw;
                                    margin-left: 0.75vw;
                                }

                                button {
                                    font-size: 0.65vw;
                                    padding: 0.5vw 1vw;
                                }
                            }
                        }

                        .account-page-lists-show-more {
                            font-size: 0.7vw;
                            margin-top: 0.75vw;
                        }
                    }

                    #account-page-posts-list {
                        .post {
                            padding: 1vw 1.5vw 1.5vw;

                            .user-info {
                                img {
                                    width: 2vw;
                                    height: 2vw;
                                    margin-right: 0.75vw;
                                }

                                span {
                                    font-size: 0.75vw;
                                }
                            }

                            .post-content {
                                margin-bottom: 1.5vw;

                                p {
                                    font-size: 0.9vw;
                                    margin-bottom: 1vw;
                                }

                                img, video {
                                    max-width: 12.5vw;
                                }

                                ul {
                                    margin-top: 1.5vw;

                                    li {
                                        margin-right: 0.5vw;
                                        font-size: 0.75vw;
                                    }
                                }
                            }

                            .post-info {
                                & > *:not(:last-child) {
                                    margin-right: 2vw;
                                }

                                img {
                                    width: 1vw;
                                    height: 1vw;
                                }

                                span {
                                    font-size: 0.7vw;
                                }

                                .likes, .comments {
                                    img {
                                        margin-right: 0.5vw;
                                    }
                                }

                                .likes img {
                                    transform: translateY(-0.1vw);
                                }

                                & > button {
                                    font-size: 0.65vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}