@mixin ChatScreen() {
    #chat-screen {
        display: flex;
        flex-direction: column;
        height: 100%;

        #chat-screen-chat-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: thin solid $main_screen_division_line_color;
            position: relative;

            button {
                position: absolute;
                cursor: pointer;
                background-color: transparent;
                border: none;
                color: #c4c4c4;
            }

            h2 {
                font-weight: normal;
            }
        }

        #chat-screen-conversation {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            overflow-y: auto;

            .sender {
                background-color: $theme_color;
                color: #fff;
                margin-left: auto;
            }

            .recipient {
                background-color: #ebebeb;
            }
        }

        #chat-screen-message-form {
            margin-top: auto;
            display: flex;
            flex-direction: row;
            border-top: thin solid $main_screen_division_line_color;

            input {
                border: thin solid gray;

                &:focus {
                    outline: none;
                }
            }

            button {
                background-color: $theme_color;
                border: none;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: $theme_color_darkened;
                }
            }
        }

        // RESPONSIVENESS
        @media screen and (min-width: 250px) {
            #chat-screen-chat-info {
                padding: 10px 5px;

                button {
                    left: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 30px;
                }

                h1 {
                    font-size: 20px;
                    margin: 0;
                    margin-bottom: 5px;
                }

                h2 {
                    font-size: 15px;
                    margin: 0;
                }
            }

            #chat-screen-conversation {
                padding: 20px 10px;
                height: 80vh;

                .message {
                    font-size: 15px;
                    width: 40%;
                    border-radius: 10px;
                    margin-bottom: 50px;
                    padding: 15px;
                    line-height: 150%;
                }
            }

            #chat-screen-message-form {
                padding: 15px 10px;

                input {
                    width: 100%;
                    margin-right: 10px;
                    font-size: 15px;
                    padding: 5px 10px;
                }

                button {
                    padding: 10px 20px;
                    font-size: 14px;
                }
            }
        }

        @media screen and (min-width: 2000px) {
            #chat-screen-chat-info {
                padding: 0.5vw 0.25vw;

                button {
                    left: 0.5vw;
                    font-size: 1.5vw;
                }

                h1 {
                    font-size: 1vw;
                    margin-bottom: 0.25vw;
                }

                h2 {
                    font-size: 0.75vw;
                }
            }

            #chat-screen-conversation {
                padding: 1vw 0.5vw;

                .message {
                    font-size: 0.75vw;
                    border-radius: 0.5vw;
                    margin-bottom: 2.5vw;
                    padding: 0.75vw;
                }
            }

            #chat-screen-message-form {
                padding: 0.75vw 0.5vw;

                input {
                    margin-right: 0.5vw;
                    font-size: 0.75vw;
                    padding: 0.25vw 0.5vw;
                }

                button {
                    padding: 0.5vw 1vw;
                    font-size: 0.7vw;
                }
            }
        }
    }
}