@mixin CommentsScreen() {
    #comments-screen {
        #comments-screen-post {
            border-bottom: thin solid $main_screen_division_line_color;

            & > button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: #b1b1b1;
            }

            .user-info {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    cursor: pointer;
                }
            }

            .post-content {
                display: flex;
                flex-direction: column;

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;

                    li {
                        color: $theme_color;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .post-info {
                display: flex;
                flex-direction: row;
                align-items: center;

                .likes, .comments {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        cursor: pointer;
                    }
                }

                .likes img {
                    &.hide {
                        display: none;
                    }
                }
            }
        }

        #comments-screen-reply-form {
            display: flex;
            flex-direction: row;
            border-bottom: thin solid $main_screen_division_line_color;

            &.hide {
                display: none;
            }

            input {
                border: thin solid #b9b9b9;

                &:focus {
                    outline: none;
                }
            }

            button {
                background-color: $theme_color;
                color: #fff;
                margin-left: auto;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: $theme_color_darkened;
                }
            }
        }

        #comments-screen-comments {
            display: flex;
            flex-direction: column;

            .comment {
                display: flex;
                flex-direction: row;

                &:not(:last-child) {
                    border-bottom: thin solid $main_screen_division_line_color;
                }

                & > div {
                    display: flex;
                    flex-direction: column;

                    .comment-info {
                        display: flex;

                        span {
                            &:first-child {
                                cursor: pointer;
                            }

                            &:last-child {
                                color: #ababab;
                            }
                        }
                    }

                    p {
                        .reply-username {
                            color: $theme_color;
                        }
                    }

                    .comment-likes-dislikes {
                        display: flex;
                        flex-direction: row;

                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            img {
                                cursor: pointer;

                                &.hide {
                                    display: none;
                                }
                            }
                        }

                        button {
                            border: none;
                            background-color: transparent;
                            color: $error_color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        // RESPONSIVENESS
        @media screen and (min-width: 250px) {
            #comments-screen-post {
                padding: 20px 20px 30px;

                & > button {
                    font-size: 30px;
                    margin-bottom: 30px;
                    transform: translateX(-10px);
                }

                .user-info {
                    img {
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        margin-right: 15px;
                    }

                    span {
                        font-size: 15px;
                    }
                }

                .post-content {
                    margin-bottom: 30px;

                    p {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }

                    img, video {
                        width: 100%;
                        max-width: 250px;
                    }

                    ul {
                        margin-top: 30px;
                        padding: 0;

                        li {
                            margin-right: 10px;
                            font-size: 15px;
                        }
                    }
                }

                .post-info {
                    img {
                        width: 15px;
                        height: 15px;
                    }

                    span {
                        font-size: 13px;
                    }

                    .likes, .comments {
                        margin-left: 15px;

                        img {
                            margin-right: 6px;
                        }
                    }

                    .likes img {
                        transform: translateY(-2px);
                    }
                }
            }

            #comments-screen-reply-form {
                padding: 20px 10px;

                input {
                    width: 100%;
                    padding: 5px 10px;
                    font-size: 15px;
                }

                button {
                    padding: 10px 20px;
                    font-size: 14px;
                    margin-left: 10px;
                }
            }

            #comments-screen-comments {
                h1 {
                    margin: 20px 20px 10px;
                    font-size: 22px;
                }

                .comment {
                    padding: 30px 15px;

                    & > img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    & > div {
                        padding: 0 15px;
                        width: 100%;

                        .comment-info {
                            margin-bottom: 10px;
                            flex-direction: column;

                            span {
                                font-size: 15px;
                                margin-top: 5px;
                            }
                        }

                        p {
                            font-size: 15px;
                            margin-bottom: 40px;
                        }

                        .comment-likes-dislikes {
                            div {
                                img {
                                    width: 15px;
                                    height: 15px;
                                    margin-right: 8px;
                                }

                                span {
                                    font-size: 13px;
                                }

                                &.dislikes {
                                    margin-left: 20px;

                                    img {
                                        transform: rotateX(180deg);
                                    }
                                }
                            }

                            button {
                                font-size: 13px;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 400px) {
            #comments-screen-post {
                padding: 20px 30px 30px;

                .user-info {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .post-content {
                    img, video {
                        max-width: 300px;
                    }

                    ul li {
                        font-size: 16px;
                    }
                }

                .post-info {
                    img {
                        width: 20px;
                        height: 20px;
                    }

                    span {
                        font-size: 15px;
                    }

                    .likes, .comments {
                        margin-left: 30px;

                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }

            #comments-screen-comments {
                .comment {
                    padding: 30px 20px;

                    & > div {
                        padding: 0 20px;

                        .comment-info {
                            flex-direction: row;

                            span {
                                &:last-child {
                                    margin-left: 10px;
                                }
                            }
                        }

                        .comment-likes-dislikes {
                            div {
                                img {
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 10px;
                                }

                                span {
                                    font-size: 15px;
                                }

                                &.dislikes {
                                    margin-left: 30px;
                                }
                            }

                            button {
                                margin-left: 30px;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 2000px) {
            #comments-screen-post {
                padding: 1vw 1.5vw 1.5vw;

                & > button {
                    font-size: 1.5vw;
                    margin-bottom: 1.5vw;
                    transform: translateX(-0.5vw);
                }

                .user-info {
                    img {
                        width: 2vw;
                        height: 2vw;
                        margin-right: 0.75vw;
                    }

                    span {
                        font-size: 0.75vw;
                    }
                }

                .post-content {
                    margin-bottom: 1.5vw;

                    p {
                        font-size: 0.9vw;
                        margin-bottom: 1vw;
                    }

                    img, video {
                        max-width: 15vw;
                    }

                    ul {
                        margin-top: 1.5vw;

                        li {
                            margin-right: 0.5vw;
                            font-size: 0.8vw;
                        }
                    }
                }

                .post-info {
                    img {
                        width: 1vw;
                        height: 1vw;
                    }

                    span {
                        font-size: 0.75vw;
                    }

                    .likes, .comments {
                        margin-left: 1.5vw;

                        img {
                            margin-right: 0.5vw;
                        }
                    }

                    .likes img {
                        transform: translateY(-0.1vw);
                    }
                }
            }

            #comments-screen-reply-form {
                padding: 1vw 0.5vw;

                input {
                    padding: 0.25vw 0.5vw;
                    font-size: 0.75vw;
                }

                button {
                    padding: 0.5vw 1vw;
                    font-size: 0.7vw;
                    margin-left: 0.5vw;
                }
            }

            #comments-screen-comments {
                h1 {
                    margin: 1vw 1vw 0.5vw;
                    font-size: 1.1vw;
                }

                .comment {
                    padding: 1.5vw 1vw;

                    & > img {
                        width: 2.5vw;
                        height: 2.5vw;
                    }

                    & > div {
                        padding: 0 1vw;

                        .comment-info {
                            margin-bottom: 0.5vw;

                            span {
                                font-size: 0.75vw;
                                margin-top: 0.25vw;

                                &:last-child {
                                    margin-left: 0.5vw;
                                }
                            }
                        }

                        p {
                            font-size: 0.75vw;
                            margin-bottom: 2vw;
                        }

                        .comment-likes-dislikes {
                            div {
                                img {
                                    width: 0.8vw;
                                    height: 0.8vw;
                                    margin-right: 0.5vw;
                                }

                                span {
                                    font-size: 0.75vw;
                                }

                                &.dislikes {
                                    margin-left: 1.5vw;
                                }
                            }

                            button {
                                font-size: 0.65vw;
                                margin-left: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
}