@mixin ExplorePage() {
    #explore-page {
        #explore-page-searchbar {
            display: flex;
            border-bottom: thin solid $main_screen_division_line_color;

            div {
                background-color: #fff;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: thin solid #000;
                position: relative;

                input {
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                button {
                    border: none;
                    background-color: transparent;
                    margin-left: auto;
                    cursor: pointer;
                }

                #explore-page-searchbar-results {
                    list-style: none;
                    position: absolute;
                    background-color: #fbfbfb;
                    outline: thin solid #000;
                    overflow: hidden;

                    &.hide {
                        display: none;
                    }

                    li {
                        cursor: pointer;

                        &:hover {
                            background-color: #a7e6cf;
                        }
                    }
                }
            }
        }

        #explore-page-login-prompt {
            button {
                background-color: $theme_color;
                color: #fff;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: $theme_color_darkened;
                }
            }
        }

        #explore-page-posts {
            border-top: thin solid $main_screen_division_line_color;

            .post {
                &:not(:first-child) {
                    border-top: thin solid $main_screen_division_line_color;
                }

                .user-info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img {
                        cursor: pointer;
                    }
                }

                .post-content {
                    display: flex;
                    flex-direction: column;

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: row;

                        li {
                            color: $theme_color;
                            font-weight: bold;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .post-info {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .likes, .comments {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                            cursor: pointer;
                        }
                    }

                    .likes img {
                        &.hide {
                            display: none;
                        }
                    }
                }
            }
        }

        // RESPONSIVENESS
        @media screen and (min-width: 250px) {
            #explore-page-searchbar {
                width: 100%;
                padding: 15px 0;

                div {
                    flex: 1;
                    width: 80%;
                    height: 100%;
                    padding: 5px;
                    margin: 0 15px;

                    input {
                        font-size: 16px;
                        width: 100%;
                    }

                    button {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    #explore-page-searchbar-results {
                        padding: 0;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        transform: translateY(-15px);

                        li {
                            padding: 15px 10px;
                        }
                    }
                }
            }

            #explore-page-login-prompt {
                padding: 20px;

                p {
                    margin: 0;
                    margin-bottom: 15px;
                    font-size: 16px;
                }

                button {
                    padding: 10px 25px;
                    border-radius: 50px;
                    font-size: 16px;
                }
            }

            #explore-page-posts {
                .post {
                    padding: 20px 30px 30px;

                    .user-info {
                        img {
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            margin-right: 15px;
                        }

                        span {
                            font-size: 16px;
                        }
                    }

                    .post-content {
                        margin-bottom: 30px;

                        p {
                            font-size: 20px;
                            margin-bottom: 20px;
                        }

                        img, video {
                            width: 50%;
                            max-width: 300px;
                        }

                        ul {
                            margin-top: 30px;
                            padding: 0;

                            li {
                                margin-right: 10px;
                                font-size: 16px;
                            }
                        }
                    }

                    .post-info {
                        img {
                            width: 20px;
                            height: 20px;
                        }

                        span {
                            font-size: 14px;
                        }

                        .likes, .comments {
                            margin-left: 30px;

                            img {
                                margin-right: 10px;
                            }
                        }

                        .likes img {
                            transform: translateY(-2px);
                        }
                    }
                }
            }
        }
    }
}