@mixin LoginPage() {
    #login-page {
        min-height: 100vh;

        #logo-container {
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}