@mixin MessagesPage() {
    #messages-page {
        #messages-page-chat-start-form {
            display: flex;
            flex-direction: column;
            border-bottom: thin solid $main_screen_division_line_color;

            input {
                border: thin solid #000;

                &:focus {
                    outline: none;
                }
            }

            span {
                color: $error_color;
            }

            button {
                background-color: $theme_color;
                color: #fff;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: $theme_color_darkened;
                }
            }
        }

        #messages-page-chats {
            .chat {
                display: flex;
                flex-direction: row;
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: #f1f1f1;
                }

                div {
                    display: flex;
                    flex-direction: column;

                    .chat-info-username {
                        color: gray;
                    }

                    .chat-info-chat-name {
                        font-weight: bold;
                        color: $theme_color;
                    }

                    p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                button {
                    position: absolute;
                    background-color: transparent;
                    cursor: pointer;
                    border: none;
                    color: #d2d2d2;

                    &:hover {
                        color: $error_color;
                    }
                }
            }
        }

        // RESPONSIVENESS
        @media screen and (min-width: 250px) {
            #messages-page-chat-start-form {
                padding: 20px;

                input {
                    margin-bottom: 20px;
                    padding: 5px;
                    font-size: 13px;
                }

                span {
                    font-size: 13px;
                }

                button {
                    padding: 10px;
                    margin-top: 20px;
                    font-size: 15px;
                }
            }

            #messages-page-chats {
                .chat {
                    padding: 20px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    div {
                        width: 100%;

                        .chat-info-username {
                            font-size: 13px;
                            margin-bottom: 5px;
                        }

                        .chat-info-chat-name {
                            font-size: 15px;
                        }

                        p {
                            word-break: break-all;
                            width: 85%;
                            font-size: 15px;
                        }
                    }

                    button {
                        right: 10px;
                        font-size: 16px;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}