@import './LoginPage';
@import './SignUpPage';
@import './MainScreen';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    #root {
        @include LoginPage();
        @include SignUpPage();
        @include MainScreen();
    }

    @media screen and (max-width: 249px) {
        display: none;
    }
}