@import './LoginPage';
@import './SignUpPage';
@import './MainScreen';

$theme_color: #6FDAB2;
$theme_color_darkened: #6cd3ad;
$main_screen_division_line_color: #dfdfdf;
$error_color: #bb4747;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    #root {
        @include LoginPage();
        @include SignUpPage();
        @include MainScreen();
    }

    @media screen and (max-width: 249px) {
        display: none;
    }
}